.main {
  color: red;
  float: right;
  width: 69%;
  display: inline-block;
}
aside.sidebar{
  float: left;
  height: 100vh;
  border: 2px solid grey;
  width: 30%;
  display: inline-block;
}

fieldset{
  max-width: 100%;
}
select{
  overflow: scroll;
}
fieldset{
  max-width: 100%;
}
select{
  overflow: scroll;
}
fieldset{
  max-width: 100%;
}
select{
  text-overflow: ellipsis;
  width: 90%;
}
.profilesnum{
  width: 20%;
}
.axis path, .axis line
{
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}

.axis text
{
    font-family: 'Arial';
    font-size: 13px;
}

.bar {
  color: black;
  font-size: 25px;
  display: inline-block;
  margin-top: 40px;
  font-family: 'Arial';
  text-align: center;
}
