.main {
  color: red;
  float: right;
  width: 69%;
  display: inline-block;
}
aside.sidebar{
  float: left;
  height: 100vh;
  border: 2px solid grey;
  width: 30%;
  display: inline-block;
}

fieldset{
  max-width: 100%;
}
select{
  overflow: scroll;
}
fieldset{
  max-width: 100%;
}
select{
  overflow: scroll;
}
fieldset{
  max-width: 100%;
}
select{
  text-overflow: ellipsis;
  width: 90%;
}
.profilesnum{
  width: 20%;
}
