<div>
    <md-card class="variables">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Choose extra attribute to compare:</span>
          <span class="md-subhead">(Gender included in all.)</span>
        </md-card-title-text>
      </md-card-title>
      <md-radio-group ng-model="data.selected[1]" ng-repeat="variable in data.potentials">
        <md-radio-button value={{variable}}>
          {{variable}}
        </md-radio-button>
      </md-radio-group>
    </md-card>

    <md-card class="profilesnum">
      <md-card-title>
        <md-card-title-text>
          <span class="md-subhead">How many people's profiles do you wish to compare?</span>
        </md-card-title-text>
      </md-card-title>
      <select
        ng-model="data.profilesnum"
        ng-change="initializeProfiles()"
        required="true"
        class="profilesnum"
      >
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
  </md-card>

  <div class="selects">
    <h5>Choose your values:</h5>
    <div ng-repeat="person in data.profiles">
      <fieldset class="values">
        <legend>Person {{person.number}}</legend>
        <div ng-repeat="variable in data.selected">
          <label>{{variable}}
            <select
              class="value"
              ng-model="person[variable]"
              ng-options="option as option for option in data.options[variable]"
              ng-change="query(person, variable)"
            >
            </select>
          </label>
        </div>
      </fieldset>
    </div>

  </div>
</div>
