<div>
  <div class="checkboxes" class="variables-choices">
    <fieldset class="variables">
      <legend>Choose extra attribute to compare (gender included in all):</legend>
      <div ng-repeat="variable in data.potentials">
        <label>{{variable}}
          <input
            type="radio"
            ng-click="toggle(variable, data.selected)"
            ng-checked="exists(variable, data.selected)"
          />

        </label>
      </div>
    </fieldset>
    <label>How many people's profiles do you wish to compare?
      <select
        ng-model="data.profilesnum"
        ng-change="initializeProfiles()"
        required="true"
        class="profilesnum"
      >
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
    </label>
  </div>
  <div class="selects">
    <h5>Choose your values:</h5>
    <div ng-repeat="person in data.profiles">
      <fieldset class="values">
        <legend>Person {{person.number}}</legend>
        <div ng-repeat="variable in data.selected">
          <label>{{variable}}
            <select
              class="value"
              ng-model="person[variable]"
              ng-options="option as option for option in data.options[variable]"
              ng-change="query(person, variable)"
            >
            </select>
          </label>
        </div>
      </fieldset>
    </div>

  </div>
</div>
