<div class="wrapper">
    <md-card class="variables">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Choose extra attribute to compare:</span>
          <span class="md-subhead">(Gender included in all.)</span>
        </md-card-title-text>
      </md-card-title>
      <md-radio-group ng-click="newBarGraph()" ng-model="data.selected[1]" ng-repeat="variable in data.potentials">
        <md-radio-button value={{variable}}>
          {{variable}}
        </md-radio-button>
      </md-radio-group>
    </md-card>

    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-subhead">How many people's profiles do you wish to compare?</span>
        </md-card-title-text>
      </md-card-title>
      <md-select
        ng-model="data.profilesnum"
        ng-change="initializeProfiles()"
        required="true"
        class="profilesnum"
        aria-label="ProfilesNumber"
      >
        <md-option value="1">1</md-option>
        <md-option value="2">2</md-option>
        <md-option value="3">3</md-option>
        <md-option value="4">4</md-option>
      </md-select>
  </md-card>

  <div class="selects">
    <h5>Choose your values:</h5>
    <md-card ng-repeat="person in data.profiles">
      <md-card-title>
        <md-card-title-text>
          <span class="md-subhead">Person {{person.number}}</span>
        </md-card-title-text>
      </md-card-title>
        <md-input-container ng-repeat="variable in data.selected">
          <label>{{variable}}</label>
            <md-select
              class="value"
              ng-model="person[variable]"
              ng-change="query(person, variable)"
            >
              <md-option
                ng-repeat="option in data.options[variable]"
                ng-model="option"
                aria-label="{{option}}"
                ng-value="option"
              >
                {{option}}
              </md-option>

          </md-select>
        </md-input-container>
        </md-card>

  </div>
</div>
